body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/pexels-fwstudio-163999.jpg);
  background-attachment: fixed;
  background-size: contain;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#profileBrick {
  max-width: 230px;
  width: 30%;
  padding: 10px;
  margin-top: 8px;
  border-top-left-radius: 65px;
  border-bottom-right-radius: 65px;

}

.media {
  background-color: skyblue;
  margin-top: 10%;
  margin-left: 4%;
  margin-right: 4%;
  border-top-left-radius: 65px;
  border-bottom-right-radius: 65px;
  animation-name: profile-info;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes profile-info {
  0%   {background-color: skyblue;}
  25%  {background-color: #3399ff;}
  50%  {background-color: #0066cc;}
  75%  {background-color: #3399ff;}
  100%   {background-color: skyblue;}
}

.media-body {
  margin-top: 5%;
  padding: 18px;
}

.aboutText {
  margin-right: 4%;
}

.accordion {
  width: 75%;
  margin-left: 8%;
  margin-top: 5%;
}

.nav-link {
  color: black;
}

#passwordLinkBtn {
  margin-inline-start: 35%;
  margin-bottom: 2%;
}
#feelancerLinkBtn {
  margin-inline-start: 35%;
  margin-bottom: 2%;
}

#cheqmateLinkBtn {
  margin-inline-start: 35%;
  margin-bottom: 2%;
}

#contactInfoBody {
  margin-left: 15%;
  margin-top: 12%;
  margin-bottom: 15%;
}

#contactCardBody {
  text-align: center;
}

#skillsCard {
  width: 40%;
}

.card-header {
  background-color: skyblue;
}

#eduCard {
  margin-left: 5%;
  width: 40%;
}

.flex-container {
  display: flex;
  margin-top: 8%;
  margin-left: 8%;
  margin-bottom: 8%;
}

footer {
  height: 50px;
  background-color: skyblue;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

#gMailImg {
  width: 60%;
  margin-top: 10%;
  margin-left: 20%;
}

#gitHubImg {
  width: 80%;
  margin-top: 12%;
  margin-left: 8%;
}

#linkedInImg {
  width: 85%;
  margin-top: 14%;
  margin-left: 10%;
}

#pwText {
  font-family: Orbitron;
  font-size: 24px;
  color: black;
}

#flText {
  font-family: IM Fell English SC;
  font-size: 28px;
  color: black;
}

#cheqText {
  font-family: Cambo;
  font-size: 28px;
  color: black;
}

#imageSlider {
  height: 300px;
}

.container {
  max-height: 200px;
}

#sliderSize {
  height: 200px;
}